<div class="footer-content">
  <div class="bottom-left-curve">
    <div class="footer-logos-container">
      <img src="assets/tn_logo.png" alt="TN" class="footer-logo small" />
      <img src="assets/sdm_logo.png" alt="SDM" class="footer-logo small second" />
    </div>
    <p class="footer-text">
      Tamil Nadu System for Multi‑hazard potential impact <br>
      assessment, Alert, Emergency Response Planning and <br>Tracking
    </p>
  </div>

  <div class="bottom-right-logo">
    <img src="assets/rimes_logo.png" alt="RIMES" class="rimes-logo" />
    <p class="footer-note">
      RIMES Regional Integrated Multi‑Hazard Early <br />
      Warning System (RIMES), Thailand<br />
      Copyright© 2025
    </p>
  </div>
</div>